body{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	background: lightgreen;
}

h1 {
	text-align: center;
	font-size: medium;
}
li#expand-all{
    background: black;
    color: white;
}
li#collapse-all{
    color: black;
    background: white;
}
ul {
	margin-top: 15px;
    margin-left: 0;
    padding-left: 0;
}
ul li{
	border-top: 1px solid #eceded;
    height: 45px;
    width: 100%;
    float: left;
	position: relative;
	
	    margin-top: 15px;
    margin-left: 0;
    padding-left: 0;
}

p{
	text-align: right;
	color: #4caf509c;;
	font-style: italic;
	font-weight: lighter;
	font-size: xx-small;
}